{% extends 'payment.html' %}

{% load static %}
{% block title %} Payment-Form {% endblock %}

{% block content %}
<div class="header">
  <div class="header-left">
    <img src="{% static 'img/Logo.svg'%}" />
    <p>DEV / UNIVERSITY</p>
  </div>

  <div class="header-right">
    <p>ATHUMANI BAKARI</p>
    <a href="{% url 'logout' %}"class="logout">
      <img src="{% static 'img/log-out.svg' %}" />
    </a>
  </div>
</div>

<div class="content-container">
  <div class="content">
    <div class="content-left">
      <img src="{% static 'img/header.jpg' %}" />
      <div class="content-left-text">
        <div class="cash">
          <img style="opacity:1; filter:blur(0)" src={% static 'img/circle-dollar-sign.svg' %} />
        </div>
        <h2 style="margin:0; color:white; font-size:22px">STUDENT FEE</h2>
        <h2 style="margin:0; color:white; font-size:22px">PAYMENT SLIP</h2>
      </div>
    </div>

     <div class="content-right">
       <form method="POST" action="" class="payment-slip">
         {% csrf_token %}
         {% for field in form %}
            {% if field.name == 'full_name' %}
                <div class="field">
                  <img src="{% static 'img/user.svg' %}" />
                  {{ field }}
                </div>
            {% elif field.name == 'phone_number' %}
                <div class="field">
                  <img src="{% static 'img/smartphone.svg' %}" />
                  {{ field }}
                </div>

            {% elif field.name == 'course' %}
                <div class="field">
                  <img src="{% static 'img/briefcase.svg' %}" />
                  {{ field }}
                </div>
            {% elif field.name == 'year' %}
                <div class="field">
                  <img src="{% static 'img/calendar-days.svg' %}" />
                  {{ field }}
                </div>
            {% elif field.name == 'semester' %}
                <div class="field">
                  <img src="{% static 'img/calendar-clock.svg' %}" />
                  {{ field }}
                </div>
            {% elif field.name == 'sponsorship' %}
                <div class="field">
                  <img src="{% static 'img/hand-coins.svg' %}" />
                  {{ field }}
                </div>

            {% endif %}
         {% endfor %}

      <div style="width:100%; display:flex; align-items:center; justify-content:center">
        <input class='submit' type="submit" value="NEXT" />
      </div>
       </form>
    </div>  
  </div>
</div>
{% endblock %}
