{% extends 'braintree.html' %}

{% load static %}
{% block title %} Braintree Done {% endblock %}

{% block content %}
<div class="header">
  <div class="header-left">
    <img src="{% static 'img/Logo.svg'%}" />
    <p>DEV / UNIVERSITY</p>
  </div>

  <div class="header-right">
    <p>ATHUMANI BAKARI</p>
    <a href="{% url 'logout'%}" class="logout">
      <img src="{% static 'img/log-out.svg' %}" />
    </a>
  </div>
</div>


<div class="content-container">
  <div class="content">
    <img src="{% static 'img/check-circle.svg' %}" class="status-logo"/>
    <h1>Payment Received</h1>
    <a href="{% url 'dashboard' %}" class="pay-credit">Dashboard</a>
  </div>
</div>
{% endblock %}
