{% extends 'baseinvoice.html' %}

{% load static %}
{% block title %} Invoice {% endblock %}

{% block content %}
<div class="header">
  <div class="header-left">
    <img src="{% static 'img/Logo.svg'%}" />
    <p>DEV / UNIVERSITY</p>
  </div>

  <div class="header-right">
    <p>ATHUMANI BAKARI</p>
    <div class="logout">
      <img src="{% static 'img/log-out.svg' %}" />
    </div>
  </div>
</div>


<div class="content-container">
  <div class="error-content">
    <div>
      Year, Course, Semester, not in Fee Structure.
    </div>


    <a href="{% url 'payment-form'%}">
      TRY AGAIN
    </a>
  </div>
</div>
{% endblock %}
