{% extends 'baseinvoice.html' %}

{% load static %}
{% block title %} Invoice {% endblock %}

{% block content %}
<div class="modal" id="modal">
  <div class="modal-content">
    <div style="height:20%; width: 100%; display:flex; align-items: center; justify-content: end;">
      <div class="close" id="close-btn">X</div>
    </div>

    <div style="height:80%; width: 100%; display:flex; align-items:center; justify-content:center; flex-direction:column">
      <div class="pay-option">
        <div class="pay-option-icon">
          <img src="{% static 'img/smartphone.svg' %}" style="height:50%; width: 50%"/>
        </div>
        <a class="option-mpesa" href="{% url 'mpesa-initiate' %}">
          Lipa na MPESA
        </a>
      </div>

      <div class="pay-option">
        <div class="pay-option-icon">
          <img src="{% static 'img/wallet-cards.svg' %}" style="height:50%; width: 50%"/>
        </div>
        <a class="option-card" href="{% url 'braintree-process' %}">
          Pay with Card
        </a>
      </div>

    </div>

  </div>
</div>

<div class="header">
  <div class="header-left">
    <img src="{% static 'img/Logo.svg'%}" />
    <p>DEV / UNIVERSITY</p>
  </div>

  <div class="header-right">
    <p>ATHUMANI BAKARI</p>
    <a href="{% url 'logout'%}" class="logout">
      <img src="{% static 'img/log-out.svg' %}" />
    </a>
  </div>
</div>


<div class="content-container">
  <div class="content">
    <div class="pay" id="pay-btn">
      Pay Now
    </div>
    <div class="invoice-header" />
      <img src ="{% static 'img/Logo.svg' %}" />
      <h3>INVOICE</h3>
    </div>

    <div class="invoice-bill">
      <div class="invoice-bill-left">
        <h5>BILLED TO:</h5>
        <div>
          <p>{{ invoice.payment_slip.full_name }}</p>
          <p>{{ invoice.payment_slip.phone_number }}</p>
        </div>
      </div>

      <div class="invoice-bill-right">
        <div>
          <p>Invoice No. {{ invoice.id }}</p>
          <p>{{ invoice.created_on }}</p>
        </div>
      </div>
    </div>

    <div class="invoice-bill-details">
      <div class="invoice-bill-top">
        <div class="invoice-bill-top-header">
          <div style="width:180px;">
            <h5>Student Name (ID)</h5>
          </div>

          <div style="width: 160px">
            <h5>Course</h5>
          </div>

          <div style="width: 30px">
            <h5>Year</h5>
          </div>

          <div style="width: 50px">
            <h5>Semester</h5>
          </div>

        </div>
        <div class="invoice-bill-top-detail">
          <div style="width:180px;">
            <h5>{{ request.user.first_name }} {{ request.user.last_name }} ({{ request.user.username }})</h5>
          </div>

          <div style="width: 160px">
            <h5>{{ invoice.payment_slip.course }}</h5>
          </div>

          <div style="width: 30px">
            <h5>{{ invoice.payment_slip.year }}</h5>
          </div>

          <div style="width: 50px">
            <h5>{{ invoice.payment_slip.semester }}</h5>
          </div>

        </div>
      </div>

      <div class="invoice-bill-bottom">
        <div class="bill-fee">
          <div style="display: flex; justify-content: space-evenly;">
            <h5 style="font-weight: 700;">Tuition Fee: </h5>
            <h5 style="font-weight: 300;">Ksh: {{ invoice.fee_structure.fee }}</h5>
          </div>

          <div style="display: flex; justify-content: space-evenly;">
            <h5 style="font-weight: 700;">Tax (0%): </h5>
            <h5 style="font-weight: 300;">Ksh: 0.00</h5>
          </div>

          <div style="width:100%; height:45px; display: flex; justify-content: space-evenly; border-top: 1px solid black; align-items:center;">
            <h5 style="font-weight: 700; font-size:16px">Total: </h5>
            <h5 style="font-weight: 700; font-size:16px">Ksh: {{ invoice.fee_structure.fee }}</h5>
          </div>

        </div>
      </div>
    </div>

    <div class="invoice-footer">
      <div class="invoice-footer-left">
        <h5>PAYMENT INFORMATION</h5>
        <div>
          <p>{{ invoice.payment_type }}</p>
          <p>{{ invoice.safaricom_service }}</p>
          <p>{{ invoice.more }}</p>
        </div>
      </div>

      <div class="invoice-footer-right">
        <div>
          <p>Dev University</p>
          <p>Somewhere, Kenya</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
